header {
  width: 100%;
  height: 120px;
  background-color: #000000;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem; }
  header .boxLogo {
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .boxLogo h1,
    header .boxLogo h2 {
      font-family: "Acme", sans-serif;
      font-weight: 700;
      color: #fff;
      width: 170px;
      text-align: center; }
      header .boxLogo h1:hover,
      header .boxLogo h2:hover {
        font-size: 42px; }
  header nav ul {
    display: flex;
    margin: 0; }
    header nav ul li {
      padding: 0 2rem; }
      header nav ul li a {
        color: #fff; }
        header nav ul li a:visited {
          color: #fff; }
        header nav ul li a:hover {
          opacity: 0.7; }

@media screen and (max-width: 980px) {
  header nav ul li {
    padding: 0 1.5rem; } }

@media screen and (max-width: 600px) {
  header {
    padding: 0; } }

@media screen and (max-width: 500px) {
  header .boxLogo h1 {
    font-size: 35px; }
  header .boxLogo h2 {
    font-size: 35px; } }

footer {
  background-color: #000000;
  padding: 0 1.5rem; }
  footer h2 {
    font-family: "Acme", sans-serif;
    font-weight: bold;
    margin-bottom: 1rem; }
  footer h2:hover {
    font-size: 42px; }
  footer a {
    font-size: 1.3rem; }
    footer a:hover {
      color: #fff; }
  footer #menuFooter ul {
    display: flex;
    justify-content: space-around; }
    footer #menuFooter ul li {
      padding: 1rem 1rem; }
  footer #boxFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    min-height: 120px; }
    footer #boxFooter .boxTxFooter {
      width: 300px; }
      footer #boxFooter .boxTxFooter p {
        margin-bottom: 0;
        font-size: 1.3rem; }
      footer #boxFooter .boxTxFooter h2 {
        text-align: center; }
    footer #boxFooter .boxTxFooter2 h2 {
      height: 120px; }
    footer #boxFooter .boxTxFooter3 {
      text-align: right; }
      footer #boxFooter .boxTxFooter3 a {
        display: block; }

@media screen and (max-width: 950px) {
  footer #menuFooter ul {
    flex-direction: column;
    align-items: center; }
    footer #menuFooter ul li {
      padding: 0.5rem 1rem; }
  footer #boxFooter {
    flex-direction: column;
    text-align: center; }
    footer #boxFooter .boxTxFooter {
      width: 90vw; }
    footer #boxFooter .boxTxFooter3 {
      text-align: center; } }

@media screen and (max-width: 500px) {
  footer #menuFooter ul li {
    padding: 4px 8px 0 8px; }
    footer #menuFooter ul li a {
      font-size: 1.2rem; }
  footer #boxFooter h2 {
    font-size: 35px; }
  footer #boxFooter p {
    font-size: 1.2rem; }
  footer #boxFooter a {
    font-size: 1.2rem; } }

#bgLogin {
  background-color: #434343; }
  #bgLogin #mainLogin {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto; }
    #bgLogin #mainLogin h1 {
      margin: 2rem 0 4rem;
      text-align: center; }
    #bgLogin #mainLogin #login_form {
      border: 2px solid #fff;
      border-radius: 1rem;
      max-width: 768px;
      margin: 0px auto;
      padding: 1rem; }
      #bgLogin #mainLogin #login_form legend {
        text-align: right;
        margin-bottom: 1rem; }
      #bgLogin #mainLogin #login_form input {
        line-height: normal; }
        #bgLogin #mainLogin #login_form input[type='submit'] {
          background: none;
          font-size: 1rem;
          border-color: #fff;
          border-radius: 1rem;
          width: 100%;
          color: #fff;
          margin-top: 2rem;
          margin-bottom: 0.4rem; }
        #bgLogin #mainLogin #login_form input[type='email'], #bgLogin #mainLogin #login_form input[type='password'] {
          border: solid 1px #fff;
          border-radius: 1rem;
          background: none;
          padding: 1rem;
          font-size: 1rem;
          color: #fff;
          transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
          letter-spacing: 1px;
          width: 100%; }
        #bgLogin #mainLogin #login_form input:hover {
          box-shadow: 4px 4px 12px #c5c5c5;
          transition: all 0.3s; }
      #bgLogin #mainLogin #login_form .username {
        width: 65%;
        margin-bottom: 1rem; }
      #bgLogin #mainLogin #login_form .passw {
        width: 65%;
        margin-bottom: 1rem; }
      #bgLogin #mainLogin #login_form .checkbox, #bgLogin #mainLogin #login_form #mainContact #contact_form2 .agree, #mainContact #contact_form2 #bgLogin #mainLogin #login_form .agree {
        color: #fff;
        width: 50%;
        margin-bottom: 3rem auto; }
      #bgLogin #mainLogin #login_form .submit {
        width: 230px;
        margin-left: auto;
        margin-right: auto; }

@media screen and (max-width: 768px) {
  #bgLogin {
    background-image: none;
    background-color: black; }
    #bgLogin #mainLogin {
      height: auto;
      padding-top: 1rem; }
      #bgLogin #mainLogin #login_form {
        width: 100%; }
        #bgLogin #mainLogin #login_form legend {
          text-align: center; }
        #bgLogin #mainLogin #login_form .username {
          width: 100%;
          margin-bottom: 2rem; }
        #bgLogin #mainLogin #login_form .passw {
          width: 100%;
          margin-bottom: 1rem; }
        #bgLogin #mainLogin #login_form .checkbox, #bgLogin #mainLogin #login_form #mainContact #contact_form2 .agree, #mainContact #contact_form2 #bgLogin #mainLogin #login_form .agree {
          width: 180px;
          text-align: center;
          margin: 0 auto; }
        #bgLogin #mainLogin #login_form .submit {
          text-align: center; } }

#mainContact {
  background-color: #434343;
  padding: 1rem 2rem 1rem 3rem; }
  #mainContact h1 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center; }
  #mainContact #contact_form1 {
    width: 100%; }
    #mainContact #contact_form1 legend {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.6rem; }
    #mainContact #contact_form1 .frmGroup {
      position: relative;
      letter-spacing: 2px; }
      #mainContact #contact_form1 .frmGroup .frmInput {
        width: 100%;
        border: solid 1px #fff;
        border-radius: 1rem;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        color: #fff;
        transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
        letter-spacing: 2px; }
        #mainContact #contact_form1 .frmGroup .frmInput[type='name'], #mainContact #contact_form1 .frmGroup .frmInput[type='text'], #mainContact #contact_form1 .frmGroup .frmInput[type='tel'] {
          letter-spacing: 1px; }
        #mainContact #contact_form1 .frmGroup .frmInput:focus {
          outline: none;
          border: 1px solid #000000; }
        #mainContact #contact_form1 .frmGroup .frmInput:valid {
          outline: none;
          border: 1px solid #000000; }
        #mainContact #contact_form1 .frmGroup .frmInput:focus ~ label, #mainContact #contact_form1 .frmGroup .frmInput:valid ~ label {
          transform: translateY(-50%) scale(0.8);
          background-color: #434343;
          padding: 0 0.2rem;
          color: #fff; }
        #mainContact #contact_form1 .frmGroup .frmInput:hover {
          border: 1px solid #fff;
          box-shadow: 4px 4px 12px #c5c5c5;
          transition: all 0.3s; }
      #mainContact #contact_form1 .frmGroup textarea {
        overflow: auto;
        line-height: 150%;
        height: 150px;
        resize: none; }
      #mainContact #contact_form1 .frmGroup .frmLabel {
        position: absolute;
        left: 15px;
        color: #cebaae;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1); }
  #mainContact #contact_form2 {
    padding-bottom: 1rem;
    margin-top: 3rem;
    max-width: 768px; }
    #mainContact #contact_form2 legend {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 1.3rem; }
    #mainContact #contact_form2 span {
      font-size: 1.3rem; }
    #mainContact #contact_form2 .spanIntereses {
      text-align: center; }
    #mainContact #contact_form2 .love-YesNo {
      margin: auto;
      padding-right: 3.5rem;
      width: 200px;
      display: flex;
      justify-content: space-between; }
    #mainContact #contact_form2 .love {
      width: 50px;
      height: 50px;
      position: relative;
      margin: 0 auto; }
      #mainContact #contact_form2 .love .love-heart:before, #mainContact #contact_form2 .love #switch {
        display: none; }
      #mainContact #contact_form2 .love .love-heart,
      #mainContact #contact_form2 .love .love-heart::after {
        border-color: #c5c5c5;
        border: 1px solid;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        width: 10px;
        height: 8px;
        border-bottom: 0; }
      #mainContact #contact_form2 .love .round {
        position: absolute;
        z-index: 1;
        width: 8px;
        height: 8px;
        background: #fff;
        box-shadow: #0000003d 0px 0px 4px 0px;
        border-radius: 100%;
        left: 0px;
        bottom: -1px;
        transition: all .5s ease;
        animation: check-animation2 .5s forwards; }
      #mainContact #contact_form2 .love input:checked + label .round {
        transform: translate(0px, 0px);
        animation: check-animation .5s forwards;
        background-color: #fff; }
      #mainContact #contact_form2 .love .love-heart {
        box-sizing: border-box;
        position: relative;
        transform: rotate(-45deg) translate(-50%, -33px) scale(4);
        display: block;
        border-color: #d1d4e5;
        cursor: pointer;
        top: 0; }
      #mainContact #contact_form2 .love input:checked + .love-heart,
      #mainContact #contact_form2 .love input:checked + .love-heart::after,
      #mainContact #contact_form2 .love input:checked + .love-heart .bottom {
        border-color: #000000;
        box-shadow: inset 6px -5px 0px 2px #000000; }
      #mainContact #contact_form2 .love .love-heart::after,
      #mainContact #contact_form2 .love .love-heart .bottom {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-color: #d1d4e5; }
      #mainContact #contact_form2 .love .love-heart::after {
        right: -9px;
        transform: rotate(90deg);
        top: 7px; }
      #mainContact #contact_form2 .love .love-heart .bottom {
        width: 11px;
        height: 11px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: #d1d4e5;
        left: -1px;
        top: 5px;
        border-radius: 0px 0px 0px 5px; }
    #mainContact #contact_form2 .checkbox, #mainContact #contact_form2 .agree {
      width: max-content;
      margin: 1rem auto 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      user-select: none;
      border-radius: 5px; }
      #mainContact #contact_form2 .checkbox span, #mainContact #contact_form2 .agree span {
        width: 150px;
        font-size: 1rem;
        margin-left: 5px;
        padding-left: 1rem;
        letter-spacing: 2px; }
        #mainContact #contact_form2 .checkbox span:hover, #mainContact #contact_form2 .agree span:hover {
          border-radius: 1rem;
          border: 1px solid #fff;
          box-shadow: 4px 4px 10px #c5c5c5;
          transition: all 0.3s; }
      #mainContact #contact_form2 .checkbox .checkAgree, #mainContact #contact_form2 .agree .checkAgree {
        width: 200px;
        margin-right: 1rem;
        margin-left: 0;
        padding: 0 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 1rem;
        border: 1px dashed #fff; }
        #mainContact #contact_form2 .checkbox .checkAgree:hover, #mainContact #contact_form2 .agree .checkAgree:hover {
          border: none;
          border: 1px solid #fff;
          box-shadow: 4px 4px 10px #c5c5c5;
          transition: all 0.3s; }
      #mainContact #contact_form2 .checkbox input, #mainContact #contact_form2 .agree input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        border-radius: 5px; }
        #mainContact #contact_form2 .checkbox input:checked ~ .checkmark, #mainContact #contact_form2 .agree input:checked ~ .checkmark {
          box-shadow: 3px 3px 0px #b7b7b7;
          transition: all 0.2s;
          opacity: 1;
          background-image: linear-gradient(180deg, white 0%, #434343 50%, white 100%); }
        #mainContact #contact_form2 .checkbox input:checked ~ .checkmark:after, #mainContact #contact_form2 .agree input:checked ~ .checkmark:after {
          opacity: 1;
          transition: all 0.2s; }
      #mainContact #contact_form2 .checkbox input ~ .checkmark, #mainContact #contact_form2 .agree input ~ .checkmark {
        transition: all 0.2s;
        opacity: 1;
        box-shadow: 1px 1px 0px #b7b7b7; }
      #mainContact #contact_form2 .checkbox .checkmark, #mainContact #contact_form2 .agree .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 1.3em;
        width: 1.3em;
        background-color: #d1d4e5;
        border-radius: 5px; }
        #mainContact #contact_form2 .checkbox .checkmark:after, #mainContact #contact_form2 .agree .checkmark:after {
          content: "";
          position: absolute;
          opacity: 0;
          transition: all 0.2s; }
        #mainContact #contact_form2 .checkbox .checkmark:after, #mainContact #contact_form2 .agree .checkmark:after {
          left: 0.45em;
          top: 0.25em;
          width: 0.25em;
          height: 0.5em;
          border: solid white;
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg); }
    #mainContact #contact_form2 .agree {
      margin-top: 2rem; }
      #mainContact #contact_form2 .agree .checkAgree:hover {
        box-shadow: 4px 4px 10px black; }
  #mainContact .btnEnviar {
    margin: 2rem auto 3rem; }
  #mainContact #modalRegistro .modal-content {
    background-color: #434343; }
    #mainContact #modalRegistro .modal-content .modal-header {
      background-color: #000000; }
      #mainContact #modalRegistro .modal-content .modal-header .modal-title {
        width: fit-content;
        margin: 1rem auto;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        color: #fff; }
  #mainContact #modalRegistro span {
    font-size: 1.4rem; }

@keyframes check-animation {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(0px, 7px); }
  100% {
    transform: translate(7px, 7px); } }

@keyframes check-animation2 {
  0% {
    transform: translate(7px, 7px); }
  50% {
    transform: translate(0px, 7px); }
  100% {
    transform: translate(0px, 0px); } }

@media screen and (max-width: 500px) {
  #mainContact {
    padding: 1rem; }
    #mainContact h1 {
      font-size: 2rem;
      margin: 2rem 0;
      text-align: center; } }

main #board {
  padding: 1rem; }
  main #board .rowLocker {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    main #board .rowLocker .colLocker {
      padding: 0;
      border: 1px solid #493e3e;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      main #board .rowLocker .colLocker img {
        width: 70%;
        height: 90%; }
    main #board .rowLocker .blackLocker {
      background-color: #493e3e; }
    main #board .rowLocker .whiteLocker {
      background-color: #fefefe; }
    main #board .rowLocker .gridMapRow {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: center; }
    main #board .rowLocker .gridMapCol {
      display: flex;
      align-items: center;
      justify-content: flex-end; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #fff;
  margin: 0;
  padding: 0; }

a {
  font-family: "Acme", sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff; }
  a:hover {
    font-weight: bold;
    color: #fff; }
  a:visited {
    color: #fff; }

p,
li,
span,
legend {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1rem; }

hr {
  width: 92%;
  margin: 0 auto 1rem;
  color: #fff;
  border: 1px solid; }

img,
.card {
  border-radius: 10px;
  border: 0px; }

ul {
  list-style-type: none;
  padding: 0; }

.play {
  margin: 1rem auto;
  width: max-content;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation; }
  .play:hover {
    filter: brightness(110%); }
    .play:hover .front {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5); }
    .play:hover .shadow {
      transform: translateY(4px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5); }
  .play:active .front {
    transform: translateY(-2px);
    transition: transform 34ms; }
  .play:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms; }
  .play:focus:not(:focus-visible) {
    outline: none; }
  .play .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #26242440;
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1); }
  .play .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(45deg, #242323 0%, #5698b4 50%, #404040 100%); }
  .play .front {
    display: block;
    position: relative;
    padding: 8px 8px;
    border-radius: 12px;
    background: #000000;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1); }

.btnEnviar {
  font-family: inherit;
  width: 110px;
  background: #000000;
  color: #fff;
  padding: 0.4rem 1rem;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.2s; }
  .btnEnviar span {
    display: block;
    margin-left: 0.3rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem; }
  .btnEnviar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out; }
  .btnEnviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate; }
  .btnEnviar:hover svg {
    transform: translateX(1.5em) rotate(45deg) scale(1.1); }
  .btnEnviar:hover span {
    transform: translateX(5em); }
  .btnEnviar:active {
    transform: scale(0.95); }

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); }
  to {
    transform: translateY(-0.1em); } }

#board {
  background-color: #434343; }

.d-on {
  display: block; }

.d-off {
  display: none; }

#Tablero {
  width: 420px;
  height: 420px;
  border: 2px solid #434343; }
  #Tablero div {
    width: 52px;
    height: 52px;
    float: left;
    padding: 5px; }
    #Tablero div img {
      width: 100%;
      height: 100%; }
