* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid blue;
}

header {
    h1 {
        text-align: center;
        color: red;
        font-size: 30px;
    }
}


main {
    #board {
        padding: 1rem;
        .rowLocker {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .colLocker {
                padding: 0;
                border: 1px solid black;
                width: 40px;
                height: 40px;
            }
            .blackLocker {
                background-color: black;
            }
            .gridMapRow {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
            .gridMapCol {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}





/* form {
    .button {
        background-color: black;
        color: white;
        border: 2px solid red;
        font-size: 1rem;
        transition-duration: 0.4s;
        &:hover {
            font-size: 1.1rem;
            background-color: red;
            color: black;
            cursor: pointer;
        }
    }
} */


