#bgLogin {
    background-color: map-get($colors, Secondary);
    #mainLogin {
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: auto;
        h1 {
            margin: 2rem 0 4rem;
            text-align: center;
        }
        #login_form {
            border: 2px solid map-get($colors, Quaternary);
            border-radius: 1rem;
            max-width: 768px;
            margin: 0px auto;
            padding: 1rem;
            legend {
                text-align: right;
                margin-bottom: 1rem;
            }
            input {
                line-height: normal;
                &[type='submit'] {
                    background: none;
                    font-size: 1rem;
                    border-color: map-get($colors, Quaternary);
                    border-radius: 1rem;
                    width: 100%;
                    color: map-get($colors, Quaternary);
                    margin-top: 2rem;
                    margin-bottom: 0.4rem;
                }
                &[type='email'],
                &[type='password'] {
                    border: solid 1px map-get($colors, Quaternary);
                    border-radius: 1rem;
                    background: none;
                    padding: 1rem;
                    font-size: 1rem;
                    color: map-get($colors, Quaternary);
                    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
                    letter-spacing: 1px;
                    width: 100%;
                }
                &:hover {
                    box-shadow: 4px 4px 12px #c5c5c5;
                    transition: all 0.3s;
                }
            }
            .username {
                width: 65%;
                margin-bottom: 1rem;
            }
            .passw {
                width: 65%;
                margin-bottom: 1rem;
            }
            .checkbox {
                color: map-get($colors, Quaternary);
                width: 50%;
                margin-bottom: 3rem auto;
            }
            .submit {
                width: 230px;
            margin-left: auto;
            margin-right: auto;
            }
        }
    }
}

// ------------------------------ MediasQuerie --------------
@media screen and (max-width: 768px) {
    #bgLogin {
        background-image: none;
        background-color: rgb(0, 0, 0);
        #mainLogin {
            height: auto;
            padding-top: 1rem;
            #login_form {
                width: 100%;
                legend {
                    text-align: center;
                }
                .username {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .passw {
                    width: 100%;
                    margin-bottom: 1rem;
                }
                .checkbox {
                    width: 180px;
                    text-align: center;
                    margin: 0 auto;
                }
                .submit {
                    text-align: center;
                }
            }
        }
    }
}